* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  line-height: 1.6;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

header {
  background: #0f172a;
  padding: 15px 0;
  position: sticky;
  top: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: white;
}

nav a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
}

.hero {
  padding: 80px 0;
  background: #020617;
  color: white;
}

.hero-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero img {
  width: 300px;        /* size bada */
  height: 300px;       /* proper circle */
  object-fit: cover;   /* image distort nahi hogi */
  border-radius: 50%;
  border: 5px solid #38bdf8;   /* professional border */
}

.social a {
  color: white;
  margin-right: 10px;
  font-size: 20px;
}

section {
  padding: 60px 0;
}

.bg-light {
  background: #f1f5f9;
}

.skills-grid,
.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 30px;
}

.skill,
.project-card {
  background: white;
  padding: 20px;
  text-align: center;
  border-radius: 5px;
}

form {
  max-width: 500px;
  margin: auto;
}

form input,
form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
}

button {
  background: #0f172a;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
}

footer {
  background: #020617;
  color: white;
  text-align: center;
  padding: 15px;
}
